<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid</title>
    <link rel="stylesheet" href="./grid-styles.css">
</head>
<body>
    <div class="page-grid">
        <div class="form-holder">
            <form action="#">
                <label for="">Namn</label>
                <input type="text">
                <label for="">Efternamn</label>
                <input type="text">
                <label for="">E-mail</label>
                <input type="text">
            </form>
        </div>
        <div class="collection">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt architecto ipsa exercitationem rem odio incidunt quasi sed nisi aut atque quaerat doloribus quod, beatae, facere quisquam sit qui, voluptatibus eveniet?</p>
        </div>
    </div>
</body>
</html>